<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GSHOCK_POS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GSHOCK_POS.My.MySettings>
            <setting name="GSHOCKSVG" serializeAs="String">
                <value>C:\Users\romme\OneDrive\Pictures\g-shock\gshock.svg</value>
            </setting>
        </GSHOCK_POS.My.MySettings>
    </userSettings>
</configuration>